<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">


<title>韩都衣舍HSTYLE网-韩风快时尚第一品牌购物商城。正品保证！</title>

<link rel="shortcut icon" href="favicon.ico" />
<link rel="icon" href="animated_favicon.gif" type="image/gif" />


<!-- <link rel="stylesheet" type="text/css" href="PUBLIC_INDEX/Css/handu_base.css"> -->
<link type="text/css" href="PUBLIC_INDEX/Css/handu_search.css" rel="stylesheet" />
<script type="text/javascript"  src="PUBLIC_INDEX/Scripts/goods_0618.js"></script>
<script type="text/javascript" src="PUBLIC_INDEX/Scripts/search_logo.js"></script>
<style type="text/css">
.nosearchresult a{color:#c80a28;}
.recommend-words{
    margin-left:10px;
}
.recommend-words a{
    margin-right:10px;
    font-weight: bold;
}
</style>

    <link rel="stylesheet" type="text/css" href="PUBLIC_SASS/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="PUBLIC_SASS/css/toubu.css"/>
    <link rel="stylesheet" type="text/css" href="PUBLIC_SASS/css/people.css"/>

    <!-- 自己的js -->
    <script src="PUBLIC_JS/jquery-1.12.3.js"></script>
    <script src="PUBLIC_JS/common.js"></script>
    <script src="PUBLIC_JS/people.js"></script>
    <script src="PUBLIC_JS/laydate/laydate.js"></script>
    <!-- 自己的js -->


</head>
<body>
    <style>
      .new_boxs a{position:relative;display:block;float:left;}
      em.price_11{background:url("PUBLIC_INDEX/Images/jb02.png") no-repeat 0 0;width: 93px;height:81px;position:absolute;right:5px;bottom:12px;text-align:center;font-size: 24px;font-weight: bold;color:#fff;font-family: 'Arial';z-index:300; padding-top:46px; line-height: 35px;}
    </style>

	

<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />




<script>
 //鼠标滑过弹出层
function dhceng(obj, sType) 
{ 
  var oDiv = document.getElementById(obj); 
  if (sType == 'show') {oDiv.style.display = 'block';} 
  if (sType == 'hide') {oDiv.style.display = 'none';}  
} 
</script><script type="text/javascript" src="PUBLIC_INDEX/Scripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="PUBLIC_INDEX/Scripts/jquery-migrate-1.1.0.js"></script>


    
     
     
  
      <script type="text/javascript">
        $('#hd_search .hdin_not input').bind({
          'focus':function(){
            $(this).siblings('label').hide();
          },
          'blur':function(){
            if($(this).val()==''){
              $(this).siblings('label').show();
            }
          }
        });
    $(function(){
        $(".head_btnleft").click(function(){
          $(".header_ewm").addClass("displaynone");
          
        });
        
      })
    
      </script>
      

            
    <script>
    $(function(){
    $(".yMenuLCon").hide();
    var s = window.location.href;
    if(s.toLowerCase()=="http://www.handu.com" || s.toLowerCase()=="http://www.handu.com/" ||  s.toLowerCase()=="http://www.handu.com/index.html"){
      $(".pullDList").show();
      $(".yMenuLCon").show();
      
      }else{
      $(".pullD").hover(function(){
      $(".pullDList").show();
      
      },function(){
      $(".pullDList").hide(); 
        })
      }
    })
    </script>

{include file="public/header" /}

<div class="wrap">
<form id="search_page_form" action="search.php" method="GET" >
    <input type="hidden" name="brand"       value="" />
    <input type="hidden" name="filter_attr" value="" />
    <div class="handu_crumb">	
		<a href=".">您所在的位置</a> <code>&gt;</code> <a href="search.php">韩都衣舍</a>
         

		<span class="search_s input_notice">
        <label >在当前条件下搜索</label>
        <input type="text" id="search_page_kw" name="keywords"  value="" ><button type="submit" class="search_s_btn" onclick="set_keywords_search()"></button>
        </span>
        <script type="text/javascript">
  
            function set_keywords_search(){
                
                $('#search_page_form').submit();
            }
        </script>
        	</div>
    
    <div class="attrs" >
            <div class="brandAttr">
            <div class="attrKey">品牌 </div>
            <div class="attrValues">
            <ul class="av-collapse">               
                                <li>
                <a href="search.php?brand=1" style="height:25px;">
                <script>
                    getsearchlogo("HSTYLE女装");
                </script>
                <span style="position:relative;margin-left:70px;top:3px;width:20px;">(7516)</span>
                
                </a>
                </li>
                                <li>
                <a href="search.php?brand=4" style="height:25px;">
                <script>
                    getsearchlogo("Minizaru童装");
                </script>
                <span style="position:relative;margin-left:70px;top:3px;width:20px;">(2846)</span>
                
                </a>
                </li>
                                <li>
                <a href="search.php?brand=15" style="height:25px;">
                <script>
                    getsearchlogo("NanaDay娜娜日记");
                </script>
                <span style="position:relative;margin-left:70px;top:3px;width:20px;">(1644)</span>
                
                </a>
                </li>
                                <li>
                <a href="search.php?brand=12" style="height:25px;">
                <script>
                    getsearchlogo("Dequanna迪葵纳");
                </script>
                <span style="position:relative;margin-left:70px;top:3px;width:20px;">(1491)</span>
                
                </a>
                </li>
                                <li>
                <a href="search.php?brand=2" style="height:25px;">
                <script>
                    getsearchlogo("SOULINE素缕");
                </script>
                <span style="position:relative;margin-left:70px;top:3px;width:20px;">(1097)</span>
                
                </a>
                </li>
                                <li>
                <a href="search.php?brand=14" style="height:25px;">
                <script>
                    getsearchlogo("Forqueens范奎恩");
                </script>
                <span style="position:relative;margin-left:70px;top:3px;width:20px;">(1029)</span>
                
                </a>
                </li>
                                <li>
                <a href="search.php?brand=8" style="height:25px;">
                <script>
                    getsearchlogo("nibbuns女装");
                </script>
                <span style="position:relative;margin-left:70px;top:3px;width:20px;">(709)</span>
                
                </a>
                </li>
                                <li>
                <a href="search.php?brand=21" style="height:25px;">
                <script>
                    getsearchlogo("HoneyPig蜜糖猪");
                </script>
                <span style="position:relative;margin-left:70px;top:3px;width:20px;">(563)</span>
                
                </a>
                </li>
                                <li>
                <a href="search.php?brand=18" style="height:25px;">
                <script>
                    getsearchlogo("樱桃小镇");
                </script>
                <span style="position:relative;margin-left:70px;top:3px;width:20px;">(399)</span>
                
                </a>
                </li>
                                <li>
                <a href="search.php?brand=17" style="height:25px;">
                <script>
                    getsearchlogo("Garbha果芽");
                </script>
                <span style="position:relative;margin-left:70px;top:3px;width:20px;">(254)</span>
                
                </a>
                </li>
                                <li>
                <a href="search.php?brand=16" style="height:25px;">
                <script>
                    getsearchlogo("zigu自古");
                </script>
                <span style="position:relative;margin-left:70px;top:3px;width:20px;">(210)</span>
                
                </a>
                </li>
                                <li>
                <a href="search.php?brand=19" style="height:25px;">
                <script>
                    getsearchlogo("R•Maker暗码");
                </script>
                <span style="position:relative;margin-left:70px;top:3px;width:20px;">(51)</span>
                
                </a>
                </li>
                                <li>
                <a href="search.php?brand=27" style="height:25px;">
                <script>
                    getsearchlogo("步乐斯");
                </script>
                <span style="position:relative;margin-left:70px;top:3px;width:20px;">(48)</span>
                
                </a>
                </li>
                                <li>
                <a href="search.php?brand=26" style="height:25px;">
                <script>
                    getsearchlogo("池希");
                </script>
                <span style="position:relative;margin-left:70px;top:3px;width:20px;">(11)</span>
                
                </a>
                </li>
                                  
            </ul>   
            </div>
        </div> 
        
        
     <br />   
        
   </div>
   
      
 

    <div id="sort_bar" >

    	<ul class="sort_set">
                    <li class=" " ><a  title="恢复默认排序"  href="search.php?&sort=default&order=">默认排序</a>
            </li>
                    <li class="selected desc" ><a  title="点击后升序"  href="search.php?&sort=add_time&order=asc">上架时间<i></i></a>
            </li>
                    <li class=" asc" ><a  title="点击后升序"  href="search.php?&sort=shop_price&order=asc">价格<i></i></a>
            </li>
                    <li class=" desc" ><a  title="点击后降序"  href="search.php?&sort=sell_count&order=desc">销量<i></i></a>
            </li>
         
	    </ul>
        
        <div class="priceRange" id="bar-range">
            <div class="pr_box">
            <span class="input_notice"><label >￥</label><input type="text" class="rangeNum range-min" name="min_price" value="" autocomplete="off"/></span>
            <code>-</code>
            <span class="input_notice"><label >￥</label><input type="text" class="rangeNum range-max" name="max_price" value="" autocomplete="off"/></span>
            </div>
            <div class="pr_btn">
                <button type="button" class="btn-clear" > </button>
                <button type="submit" class="btn-yes"> </button>
            </div>    
        </div>
        
	    
        <div class="search_check">
            <input type="checkbox" name="discount" class="hide"  value="1"  style="display: none;"/> 
            <a class="check  " href="javascript:void(0)"></a><span>折扣商品</span>
        </div>
        <div class="search_check">
            <input type="checkbox" name="ship" class="hide"  value="1" style="display: none; "/> 
            <a class="check  " href="javascript:void(0)"></a><span>包邮</span>
        </div>
	    

	    <div class="page_set">
            <span>总计19020个商品</span>&nbsp;&nbsp;&nbsp;&nbsp;
	    	<span>1 /397</span> &nbsp;&nbsp;
             <span  class="arr">&lt;</span>              <a class="arr" href="search.php?sort=add_time&order=desc&page=2"><span>&gt;</span></a>            
	    </div>
	</div>
</form>
    <script type="text/javascript">
      $('.search_check .check').click(function(){
        if($(this).hasClass('checked')){
            $(this).removeClass('checked');    
            $(this).prev().attr('checked',false);
        }else{
            $(this).addClass('checked');
            $(this).prev().attr('checked',true);
        }
        set_keywords_search();
      });
    
    </script>
    
	<div class="waterfall">
            <ul id="tile" >
            <!-- 遍历商品开始 -->
            {volist name="res" id="val"}
                <li>
                 <div class="boxCont" >
                        <a href=""  title="{$val.goods_introduce}" alt="" target="_blank"><img src='PUBLIC_IMG/clothes/goods/{$val.goods_big}' ></a>
                   
                    <script>
              //  getGood_price("NW9842");
                    </script>   
                    <p>
                    <a href="go" title="{$val.goods_introduce}"  target="_blank" class="tname">{$val.goods_introduce}</a></p>
                    <p>
                        <span class="price ">{$val.member_price}</span>
                        <span class="sales "><i>|</i>月销量：<em>{$val.month_sale}</em></span>
                    </p>
                </div>
            </li>
            {/volist}
            <!-- 遍历商品结束 -->
        </ul>
        <div class="search_page">
                <strong class="current">1</strong>
                      <a class="page" href="search.php?sort=add_time&order=desc&page=2">2</a>
                      <a class="page" href="search.php?sort=add_time&order=desc&page=3">3</a>
                      <a class="page" href="search.php?sort=add_time&order=desc&page=4">4</a>
                      <a class="page" href="search.php?sort=add_time&order=desc&page=5">5</a>
                      <a class="page" href="search.php?sort=add_time&order=desc&page=6">6</a>
                      <a class="page" href="search.php?sort=add_time&order=desc&page=7">7</a>
          	
 <a class="page">...</a><a class="page" href="search.php?sort=add_time&order=desc&page=397">397</a><a class="page next" href="search.php?sort=add_time&order=desc&page=2">下一页</a>    
    <span>共397页 </span>&nbsp;
    
   到第<input type="text" name="jumpto" class="ui-page-skipTo" id="search_jumpto" size="3" value="1">页
   <a url="search.php?sort=add_time&order=desc&page=" class='pageBtn' onclick="this.href=$(this).attr('url')+$('#search_jumpto').val()" ></a></div>     
        
            <a href="http://www.handu.com/topic-1363.html" target="_blank" title="上新" class="gg">
            <img src="PUBLIC_INDEX/Picture/1504057308666403646.jpg" alt="上新" width="1200" height="90" />
          </a>
                                           
        
    </div> 
 
</div>

{include file="public/footer" /}
 
<script type="text/javascript">

$('.input_notice input').bind({
        'focus':function(){
            $(this).siblings('label').hide();
        },
        'blur':function(){
            if($(this).val()==''){
                $(this).siblings('label').show();
            }
        }
});
//处理价格范围事件
var _timer_pr=null;
$('#bar-range input').bind({
    'focus':function(){
       clearTimeout(_timer_pr);
       $('#bar-range').addClass('priceRange_on');
    },
    'blur':function(){
       _timer_pr=setTimeout(function(){ 
            $('#bar-range').removeClass('priceRange_on')
       },300);
    }
});
$('.pr_btn .btn-clear').click(function(){
    clearTimeout(_timer_pr);
    $('#bar-range input').val('').eq(0).focus();
    //$('#bar-range').addClass('priceRange_on');
});

function sort(id){
    var el=document.getElementById(id) ;
    if(el==null){
        return;
    }
  
        var h = [];
        var mH = [];
        var box = el.getElementsByTagName("li");
        var minH,maxH = box[0].offsetHeight,
        boxW = box[0].offsetWidth,
        boxh,
        n = el.offsetWidth / boxW | 0; //计算页面能排下多少Pin
        var elWid =  n * boxW;
        el.style.width = elWid  + "px"
        for(var i = 0; i < box.length; i++) {
                boxh = box[i].offsetHeight; //获取每个Pin的高度

                if(i < n) { //第一行Pin以浮动排列，不需绝对定位
                        h[i] = boxh;
                        box[i].style.position = '';
                } else {
                        minH = Math.min.apply({},h); //取得各列累计高度最低的一列
                        minKey = getarraykey(h, minH);
                        h[minKey] += boxh ; //加上新高度后更新高度值
                        maxH = Math.max.apply({},h);
                        maxKey = getarraykey(mH, maxH);
                        mH[maxKey]+=boxh;
                        box[i].style.position = 'absolute';
                        box[i].style.top = minH + 'px';
                        box[i].style.left = (minKey * boxW) + 'px';
                }
        }
        el.style.height=maxH+'px';
};
/* 返回数组中某一值的对应项数 */
function getarraykey(s, v) {
        for(k in s) {
                if(s[k] == v) {
                        return k;
                }
        }
};



$(function(){setInterval(function(){sort("tile")},250);});
</script>

 


<script type="text/javascript">


/*
 *  以后可以替换 login_ajax.lbi 中的isLogin
 * @param callback 若是已登录状态或点登录按钮后的回调函数
 * @param 点击登录按钮后的回调函数
 * 依赖： js/dialog/dialog.js" id="dialog_js" 
 * 此函数定义在footer中，所有页面引入dialog.js后均可直接使用，callback在各自页面中自行定义。
 **/
function _is_login (callback){
    if(typeof(callback)=='undefined'){
         callback=function(){};
    }
    var login_callbackname='login_callback_'+parseInt(Math.random()*1000000000000); 
    this[login_callbackname]=function(d){
        DialogManager.close('L_ajax_login');
        callback(d);
    }
  $.get("user.php?act=isLogin",{rid:Math.random()},function(data){
    if(parseInt(data.user_id) > 0 && data.username){
             callback(data);
    }else{
      //显示登录框
            var url='/user.php?act=act_login_ajax&login_callback='+login_callbackname;
            ajax_form(url,'L_ajax_login', 450 ,'登录');
    }
  },'JSON');
}
 
</script>

<script type="text/javascript">

$(function() {
  //加载页头用户登陆状态
    $('#HD_MEMBERZONE').load('/online.php?act=get_user_status&ts=' + (new Date().getTime()));

    
    //添加收藏夹
    $('#nav_addFavorite a').click(function(){
        var sURL='http://www.handu.com';
        var sTitle='韩都衣舍HSTYLE';
        try {
            window.external.addFavorite(sURL, sTitle);
        }
        catch (e) {
            try {
                window.sidebar.addPanel(sTitle, sURL, "");
            }
            catch (e) {
                alert("您可以尝试通过快捷键 Ctrl + D 加入到收藏夹~");
            }
        }
    
    });
   
});


</script> 


<div class="float_box" >
  <!--无线二维码<div class="float_app"></div>-->
  <a href="http://www.handu.com/flow.php?step=cart" target="_blank" class="a1" onclick="_czc.push(['_trackEvent', '悬浮', '购物车']);"></a>
  <a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODE4ODAzNF80MzI3MjBfNDAwODA2Nzc3N18yXw" target="_blank" class="a2" onclick="_czc.push(['_trackEvent', '悬浮', '在线客服']);"></a>
  <a class="a3" onclick="_czc.push(['_trackEvent', '悬浮', '在线反馈']);"></a>
  <a href="javascript:void(0);" class="a4 backTop"  onclick="_czc.push(['_trackEvent', '悬浮', '返回顶部']);"></a>
  
</div>
<script language="javascript" type="text/javascript">
$(window).scroll(function(){
      var t = document.documentElement.scrollTop||document.body.scrollTop;

      if(t>450){
    $(".float_box").fadeIn();
      }
      else{
     $(".float_box").hide();
      }
})

$('.float_box .backTop').click(function(){
    $("html, body").animate({'scrollTop':0},320);
})
</script>


<script language="javascript" type="text/javascript">
  NTKF_PARAM = {
  siteid:"kf_9817",
  settingid: "kf_9817_1377747298633",
    itemid: "1065439",
      uid:"",
    uname:"",

userlevel:0,
  orderid: "",
  orderprice: "",
itemparam: "size=41|color=red|brand=tata",
      erpparam: "sid=eadfddeeel|utm=adfe|source=baidu" 

} 
</script><script type="text/javascript" src="PUBLIC_INDEX/Scripts/ntkfstat.js" charset="utf-8"></script>
 
  
 
   
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45831645-1', 'handu.com');
  ga('require', 'displayfeatures');
    ga('send', 'pageview');
</script>
 



<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?925dc35723dff5cd810f7fee2e41a269";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

 


<!--底部悬浮条 start
<style>
.saohuo{background:url(PUBLIC_INDEX/Images/dt.png) center top no-repeat; position:fixed;width:100%;z-index: 999; height:40px;bottom:0px;left:0px;text-align: center; font-family:"微软雅黑"}
.saohuoco{width:1200px;margin:0 auto;position:relative;}
.lxftime{position:absolute; color: #ffd200; font-family:Arial, Helvetica, sans-serif;font-size: 26px; font-weight: bold; left:620px; top:5px; text-align:left; word-spacing:26px;}
.lxftime span{color:#fff; font-size:22px; font-weight:lighter; margin:0 2px; font-weight:bold;}
</style> 
<a href="http://www.handu.com/topic-1007.html" target="_blank">
<div class="saohuo"> 
  <div class="saohuoco">
      <div class="lxftime" endtime="07/17/2015 10:00:00" lxfday="no"></div>
  </div>
</div>
</a>
<script>
function lxfEndtime(){
  $(".lxftime").each(function(){
    var lxfday=$(this).attr("lxfday");//用来判断是否显示天数的变量
    var endtime = new Date($(this).attr("endtime")).getTime();//取结束日期(毫秒值)
    endtime = 1437098400000;
    var nowtime = new Date().getTime();        //今天的日期(毫秒值)
    var youtime = endtime-nowtime;//还有多久(毫秒值)
    var seconds = youtime/1000;
    var minutes = Math.floor(seconds/60);
    var hours = Math.floor(minutes/60);
    var days = Math.floor(hours/24);
    var CDay= days ;
    var CHour= hours % 24;
    var CMinute= minutes % 60;
    var CSecond= Math.floor(seconds%60);//"%"是取余运算，可以理解为60进一后取余数，然后只要余数。
    if(CSecond<10){
      CSecond="0"+CSecond;
    }
    if(CMinute<10){
      CMinute="0"+CMinute;
    }
    if(CHour<10){
      CHour="0"+CHour;
    }    
    if(endtime<=nowtime){
      $(this).html("已过期")//如果结束日期小于当前日期就提示过期啦
    }else{
      if($(this).attr("lxfday")=="no"){
      $(this).html(hours+"<span>时</span>"+CMinute+"<span>分</span>"+CSecond+"<span>秒</span>");          //输出没有天数的数据
      }else{
      $(this).html(CHour);          //输出有天数的数据
      }
    }
  });
};
function auto_hide(){                                                 //到期自动隐藏掉倒计时悬浮条
  var endtime = new Date($(".lxftime").attr("endtime")).getTime();    //取结束日期(毫秒值)
  var nowtime = new Date().getTime();                                 //今天的日期(毫秒值)服务器时间
  if(endtime <= nowtime){
    $(".saohuo").hide();
  }else{
    lxfEndtime();
  }
}
$(function(){
   auto_hide();
   setInterval("auto_hide()",1000);
 //setInterval("lxfEndtime()",1000);
});
</script>-->



<style>
.btm_box_b{position:fixed;width:100%;z-index: 999; height:193px;bottom:-200px;left:0px;text-align: center; font-family:"微软雅黑"; background:url(PUBLIC_INDEX/Images/dt.png) no-repeat center 0;transition:0.8s;}
.guanb_btn{
  position:absolute;
  left:856px;
  top:27px;
  z-index:1000;
  width:16px;
  height:16px;
}
.btm_box_bb{bottom:0;}
</style>


<script>

	$(function(){
		$("#btm_0828").addClass("btm_box_bb");
		$(".guanb_btn").click(function(){
			$("#btm_0828").css("display","none")
			})
			$(".dengl_btn").click(function(){
			$("#btm_0828").css("display","none")
			})
		})

</script>
<!--<div class="btm_box_b" id="btm_0828">
<div style="width:1200px; margin:0 auto; position:relative; height:100%;">

<div class="guanb_btn"></div>
<a href="http://www.handu.com/user.php?act=login" target="_blank"><div style="position:absolute; width:90px; height:20px; left:81%; bottom:10px;" class="dengl_btn"></div></a>

</div>
</div>
-->


<!-- 广告位：底部悬浮
<script type='text/javascript' charset='gb2312' src='PUBLIC_INDEX/Scripts/s.js'></script>-->

<style type="text/css">
.gwd_toolbar_container{display:none; visibility:hidden;}
.gwd_float_curve_trigger{display:none; visibility:hidden;}
.gwd_float_curve{display:none; visibility:hidden;}
.gwd_toolbar_control_small{display:none;}
.gwd_toolbar_container gwd_toolbar_containerX gwd_toolbar_big gwd_ns_x11 gwd_toolbar_no_transition{visibility:hidden !important; display:none !important; margin-left: -1000000px !important;}
.gwd_toolbar_goods_list gwd_ns_baokuan{display:none !important; visibility:hidden !important; margin-left: -1000000px !important;}
.gwd_toolbar_goods_list .gwd_toolbar_goods_item_pic {display:none !important;}
.gwd_toolbar_info{display:none !important; visibility:hidden !important; margin-left: -1000000px !important;}
</style>
<script src="PUBLIC_INDEX/Scripts/tag.js" type="text/javascript" async></script>
</div>
</body>
</html>>