
		<!--尾部二部分-->
		<div class="foot2 clear">
			<div class="foot2-l">
				<h3><i class="iconfont">&#xe670;</i>新手指南</h3>
				<ul>
					<li><a href="#">用户注册</a></li>
					<li><a href="#">购物流程</a></li>
					<li><a href="#">网站导航</a></li>
					<li><a href="#">帮助中心</a></li>
				</ul>
			</div>
			<div class="foot2-l">
				<h3><i class="iconfont">&#xe607;</i>支付方式</h3>
				<ul>
					<li><a href="#">在线支付</a></li>
					<li><a href="#">扫码支付</a></li>
					<li><a href="#">优惠劵支付</a></li>
				</ul>
			</div>
			<div class="foot2-l">
				<h3><i class="iconfont">&#xe627;</i>配送方式</h3>
				<ul>
					<li><a href="#">配送说明</a></li>
					<li><a href="#">运费说明</a></li>
					<li><a href="#">验货签收</a></li>
				</ul>
			</div>
			<div class="foot2-l">
				<h3><i class="iconfont">&#xe60b;</i>售后服务</h3>
				<ul>
					<li><a href="#">退换货政策</a></li>
					<li><a href="#">退换货流程</a></li>
				</ul>
			</div>
			<div class="foot2-l">
				<h3><i class="iconfont">&#xe62c;</i>会员中心</h3>
				<ul>
					<li><a href="#">会员制度</a></li>
					<li><a href="#">会员积分</a></li>
				</ul>
			</div>
			<div class="foot2-l">
				<h3><i class="iconfont">&#xe606;</i>关于我们</h3>
				<ul>
					<li><a href="#">品牌故事</a></li>
					<li><a href="#">媒体报道</a></li>
					<li><a href="#">诚聘英才</a></li>
					<li><a href="#">联系我们</a></li>
				</ul>
			</div>
		</div>
		
		<!--尾部三部分-->
		<div class="foot3 clear">
			<dl>
				<dt><img src="PUBLIC_IMG/images0/foot2_03.jpg"/></dt>
				<dd>
					<h4>100%</h4>
					<h5>正品保障</h5>
				</dd>
			</dl>
			<dl>
				<dt><img src="PUBLIC_IMG/images0/foot2_05.jpg"/></dt>
				<dd>
					<h4>7天</h4>
					<h5>无理由退货</h5>
				</dd>
			</dl>
			<dl>
				<dt><img src="PUBLIC_IMG/images0/foot2_07.jpg"/></dt>
				<dd>
					<h4>快时尚</h4>
					<h5>领先品牌</h5>
				</dd>
			</dl>
			<dl>
				<dt><img src="PUBLIC_IMG/images0/foot2_09.jpg"/></dt>
				<dd>
					<h4>每日</h4>
					<h5>新品上新</h5>
				</dd>
			</dl>
			<dl>
				<dt><img src="PUBLIC_IMG/images0/foot2_11.jpg"/></dt>
				<dd>
					<h4>100%</h4>
					<h5>质检流程</h5>
				</dd>
			</dl>
			<dl>
				<dt><img src="PUBLIC_IMG/images0/foot2_13.jpg"/></dt>
				<dd>
					<h4>全部商品</h4>
					<h5>实物拍摄</h5>
				</dd>
			</dl>
			<dl>
				<dt><img src="PUBLIC_IMG/images0/foot2_15.jpg"/></dt>
				<dd>
					<h4>用心服务</h4>
					<h5>闪电发货</h5>
				</dd>
			</dl>
			<dl>
				<dt><img src="PUBLIC_IMG/images0/foot2_17.jpg"/></dt>
				<dd>
					<h4>400-806-7777</h4>
					<h5>客服热线</h5>
				</dd>
			</dl>
		</div>
		
		<!--尾部四部分-->
		<div class="foot4">
			<ul>
				<li>首页</li>
				<span></span>
				<li>品牌故事</li>
				<span></span>
				<li>诚聘英才</li>
				<span></span>
				<li>媒体报道</li>
				<span></span>
				<li>联系我们</li>
				<span></span>
				<li>网站地图</li>
				<span></span>
				<li>友情链接</li>
			</ul>
		</div>
		
		
		<!--尾部第五部分-->
		<div class="foot5">
			<p>
				<img src="PUBLIC_IMG/images0/foot-3.gif"/>鲁ICP备14003322号-2 © 2015-2017 handu.com All Rights Reserved. <img src="PUBLIC_IMG/images0/foot-4.jpg"/><span>鲁公网安备 37010202000113号</span> 韩都衣舍电子商务集团股份有限公司，禁止非法复制 <img src="PUBLIC_IMG/images0/pic.gif"/>
     		</p>
     		<p>
     			<a href="#"><img src="PUBLIC_IMG/images0/foot-5.jpg"/></a>
     			<a href="#"><img src="PUBLIC_IMG/images0/foot-6.jpg"/></a>
     			<a href="#"><img src="PUBLIC_IMG/images0/foot-7.jpg"/></a>
     			<a href="#"><img src="PUBLIC_IMG/images0/foot-8.jpg"/></a>
     		</p>
		</div>


	<!-- 点击抽奖弹出框 -->
	<div class="box">
		<div class="box1">
			<b class="box-a1"></b>
			<h3>抽奖提示：每次抽奖消耗10个积分</h3>
			<a href="" class="box-a2">继续抽奖</a>
			<p>查看<a href="">我的积分</a></p>
			<h4>俺家的卡拉拉洞石</h4>
		</div>
	</div>
<style type="text/css">
	.box{
		position: fixed;
	    margin-left: -175px;
	    left: 50%;
	    top: 35%;
	    z-index: 1000;
		width: 350px;
	    height: 220px;
	    background: rgba(255,255,255,0.9);
	    padding: 10px;
	    display: none;
	}
	.box1{
		width: 100%;
	    height: 100%;
	    background: url(PUBLIC_INDEX/Images/alert_bg.png) no-repeat 10px 10px #FFF;
	    text-align: center;
	}
	.box-a1{
		background: url(PUBLIC_INDEX/Images/c_close1.png) no-repeat center center;
	    height: 30px;
	    width: 30px;
	    position: absolute;
	    right: 15px;
	    top: 15px;
	}
	.box-a1:hover{
		background: url(PUBLIC_INDEX/Images/c_close2.png) no-repeat center center;
	}
	.box1 h3{
		font: bold 16px 'micorosoft yahei';
	    color: #333;
	    padding: 60px 0 10px;
	}
	.box-a2{
		background: url(PUBLIC_INDEX/Images/cost.png) no-repeat 0 0;
	    width: 114px;
	    height: 30px;
	    display: inline-block;
	    margin-top: 30px;
	    font: 12px/30px 'å®‹ä½“';
	    text-align: center;
	    cursor: position;
	    color:#fff;
	}
	.box-a2:hover{
		color:#fff;
	}
	.box1 p{
		font: 12px/30px 'å®‹ä½“';
   	    color: #999;
	}
	.box1 p a{
		color: #c80a28;
	}
	.box1 h4{
		color:#999;
	}
</style>
		
		
<!-- 弹出提示框 -->
<script type="text/javascript">
	function luckDraw(){
		$('.box').show();
	}
		$('.box-a1').click(function(){
			$('.box').hide();
		})

	
</script>