<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">

<title>韩都衣舍(handuyishe.com)—韩都衣舍官网，韩风快时尚第一品牌。来韩都衣舍官方旗舰店，寻找最爱的最美的衣衣。支持货到付款，7天无理由退换货。</title>

<!-- <link rel="stylesheet" type="text/css" href="PUBLIC_INDEX/Css/handu_base.css" /> -->
<link rel="stylesheet" type="text/css" href="PUBLIC_INDEX/Css/flex.css" />
<link rel="stylesheet" type="text/css" href="PUBLIC_INDEX/Css/club.css" />

    <link rel="stylesheet" type="text/css" href="PUBLIC_SASS/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="PUBLIC_SASS/css/toubu.css"/>
    <link rel="stylesheet" type="text/css" href="PUBLIC_SASS/css/people.css"/>

    <!-- 自己的js -->
    <script src="PUBLIC_JS/jquery-1.12.3.js"></script>
    <script src="PUBLIC_JS/common.js"></script>
    <script src="PUBLIC_JS/people.js"></script>
    <script src="PUBLIC_JS/laydate/laydate.js"></script>
    <!-- 自己的js -->

</head>

<body>

    
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />



<script>
 //鼠标滑过弹出层
function dhceng(obj, sType) 
{ 
  var oDiv = document.getElementById(obj); 
  if (sType == 'show') {oDiv.style.display = 'block';} 
  if (sType == 'hide') {oDiv.style.display = 'none';} 
} 
</script>      <script type="text/javascript" src="PUBLIC_INDEX/Scripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="PUBLIC_INDEX/Scripts/jquery-migrate-1.1.0.js"></script>


    
     
     
      <script type="text/javascript">
        $('#hd_search .hdin_not input').bind({
          'focus':function(){
            $(this).siblings('label').hide();
          },
          'blur':function(){
            if($(this).val()==''){
              $(this).siblings('label').show();
            }
          }
        });
    $(function(){
        $(".head_btnleft").click(function(){
          $(".header_ewm").addClass("displaynone");
          
        });
        
      })
    
    

 
  
    $(function(){
    $(".yMenuLCon").hide();
    var s = window.location.href;
    if(s.toLowerCase()=="http://www.handu.com" || s.toLowerCase()=="http://www.handu.com/" ||  s.toLowerCase()=="http://www.handu.com/index.html"){
      $(".pullDList").show();
      $(".yMenuLCon").show();
      
      }else{
      $(".pullD").hover(function(){
      $(".pullDList").show();
      
      },function(){
      $(".pullDList").hide(); 
        })
      }
    })
    </script>
    
<script src="PUBLIC_INDEX/Scripts/jquery.flexslider-min.js"></script>
<script charset="utf-8" type="text/javascript" src="PUBLIC_INDEX/Scripts/dialog.js" id="dialog_js"></script>
<script>
$(function() {
  /*轮播*/
  $('.flexslider').flexslider({
    controlNav:true
  });
});
</script>


{include file="public/header" /}

<div class="wrap_club">

  <div class="signin" onclick="sign()" style="cursor:pointer"></div>

  <div class="flex-container flex_1200" >
         <div class="flexslider" >
               <ul class="slides">
                                  <li>
                      <a href="http://www.handu.com/topic-1134.html" target="_blank"><img src="PUBLIC_INDEX/Picture/1488942512505437214.jpg" width="1200" alt=""></a>
                  </li>
                                </ul>
        </div>
  </div>

 
 <div style="margin:0 0 20px 0;">
   <a href="http://www.handu.com/topic-1134.html" target="_blank">
     <img src="PUBLIC_INDEX/Picture/tt.png" width="1200" alt="">
   </a>
 </div> 
 
	<!--<div class="club_set gift">
      <h2><em>积分好礼</em><span>红包（仅限Hstyle可用）兑换后，不能取消和退回</span></h2>
      <ul class="gift_list">
            </ul>
	</div>-->
    
    <div class="club_set gift">
      <h2><em>积分好礼</em><span>红包（仅限Hstyle可用）兑换后，不能取消和退回</span></h2>
      <ul class="gift_list">
            
              <li>
          <a><img src="PUBLIC_INDEX/Picture/1482385422288318263.jpg" /></a>
          <div class="desc">
            <span class="fl name">500积分兑换</span>
            <em class="fl">500积分</em>
            <span class="fl">可用:<i>1</i>次</span>
            <a class="dui" onclick="exchangeToPostage(19)">兑换</a>
          </div>
        </li>
              <li>
          <a><img src="PUBLIC_INDEX/Picture/1482385298487558139.jpg" /></a>
          <div class="desc">
            <span class="fl name">500积分兑换</span>
            <em class="fl">500积分</em>
            <span class="fl">可用:<i>2</i>次</span>
            <a class="dui" onclick="exchangeToPostage(18)">兑换</a>
          </div>
        </li>
            </ul>
	</div>

  <div class="club_set day_sale">
	   <h2>
      <em>★ 今日秒杀 ★</em>
     </h2>
     <ul class="sales">
     	   <li class="ms_box" style="display:block;">
        <a href="goods-1054440.html" target="_blank">
          <img src="PUBLIC_INDEX/Picture/1054440_thumb_g_1482375533763.jpg" alt="2017韩版女装春装新款宽松" title="2017韩版女装春装新款宽松"/>
          <div class="discount">限量</br>0件</div>
        </a>
        <ul>
          <li class="row1">
            <span class="arrow">￥</span><span class="zs">34.</span><span class="xs">00</span>
            <span class="buy_btn"><a href="goods-1054440.html" target="_blank">抢购</a></span>
          </li>
          <li class="row2">
            <span class="old_price">
              <p>原价：</p>
              <p>￥138</p>
            </span>
            <span>
              <p>节省：</p>
              <p>￥104</p>
            </span>
          </li>
        </ul>
      </li>
     	   <li class="ms_box" style="display:block;">
        <a href="goods-1054464.html" target="_blank">
          <img src="PUBLIC_INDEX/Picture/1482163343745924883.jpg" alt="2017韩版女装春装新款宽松" title="2017韩版女装春装新款宽松"/>
          <div class="discount">限量</br>0件</div>
        </a>
        <ul>
          <li class="row1">
            <span class="arrow">￥</span><span class="zs">158.</span><span class="xs">00</span>
            <span class="buy_btn"><a href="goods-1054464.html" target="_blank">抢购</a></span>
          </li>
          <li class="row2">
            <span class="old_price">
              <p>原价：</p>
              <p>￥158</p>
            </span>
            <span>
              <p>节省：</p>
              <p>￥0</p>
            </span>
          </li>
        </ul>
      </li>
     	   <li class="ms_box" style="display:block;">
        <a href="goods-1054937.html" target="_blank">
          <img src="PUBLIC_INDEX/Picture/1482854521048358355.jpg" alt="2017韩版女装春装新装修身" title="2017韩版女装春装新装修身"/>
          <div class="discount">限量</br>0件</div>
        </a>
        <ul>
          <li class="row1">
            <span class="arrow">￥</span><span class="zs">138.</span><span class="xs">00</span>
            <span class="buy_btn"><a href="goods-1054937.html" target="_blank">抢购</a></span>
          </li>
          <li class="row2">
            <span class="old_price">
              <p>原价：</p>
              <p>￥138</p>
            </span>
            <span>
              <p>节省：</p>
              <p>￥0</p>
            </span>
          </li>
        </ul>
      </li>
     	   <li class="ms_box" style="display:block;">
        <a href="goods-1055652.html" target="_blank">
          <img src="PUBLIC_INDEX/Picture/1484016425502141301.jpg" alt="2017韩版女装春装新款宽松" title="2017韩版女装春装新款宽松"/>
          <div class="discount">限量</br>0件</div>
        </a>
        <ul>
          <li class="row1">
            <span class="arrow">￥</span><span class="zs">188.</span><span class="xs">00</span>
            <span class="buy_btn"><a href="goods-1055652.html" target="_blank">抢购</a></span>
          </li>
          <li class="row2">
            <span class="old_price">
              <p>原价：</p>
              <p>￥188</p>
            </span>
            <span>
              <p>节省：</p>
              <p>￥0</p>
            </span>
          </li>
        </ul>
      </li>
     	   <li class="ms_box" style="display:block;">
        <a href="goods-1055671.html" target="_blank">
          <img src="PUBLIC_INDEX/Picture/1484064146140206533.jpg" alt="2017女装春装新款潮V领宽" title="2017女装春装新款潮V领宽"/>
          <div class="discount">限量</br>0件</div>
        </a>
        <ul>
          <li class="row1">
            <span class="arrow">￥</span><span class="zs">148.</span><span class="xs">00</span>
            <span class="buy_btn"><a href="goods-1055671.html" target="_blank">抢购</a></span>
          </li>
          <li class="row2">
            <span class="old_price">
              <p>原价：</p>
              <p>￥148</p>
            </span>
            <span>
              <p>节省：</p>
              <p>￥0</p>
            </span>
          </li>
        </ul>
      </li>
     	   <li class="ms_box" style="display:block;">
        <a href="goods-1055927.html" target="_blank">
          <img src="PUBLIC_INDEX/Picture/1484582547494624244.jpg" alt="2017韩版女装春装新款宽松" title="2017韩版女装春装新款宽松"/>
          <div class="discount">限量</br>0件</div>
        </a>
        <ul>
          <li class="row1">
            <span class="arrow">￥</span><span class="zs">198.</span><span class="xs">00</span>
            <span class="buy_btn"><a href="goods-1055927.html" target="_blank">抢购</a></span>
          </li>
          <li class="row2">
            <span class="old_price">
              <p>原价：</p>
              <p>￥198</p>
            </span>
            <span>
              <p>节省：</p>
              <p>￥0</p>
            </span>
          </li>
        </ul>
      </li>
         </ul>
  </div>
   
   
 <a href="http://www.handu.com/brand_topic.php?id=10330" target="_blank" class='club_tl'><img src="PUBLIC_INDEX/Picture/1487756978789243805.jpg" /></a>


  <div id='marquee'>
    <div class="star star1"></div><div class="star star2"></div>
  <marquee align="left" behavior="scroll"  direction="left" height="30" width="1200" hspace="50" vspace="20" loop="-1" scrollamount="10" scrolldelay="150" onMouseOut="this.start()" onMouseOver="this.stop()">
     	 vi**下单消费89元，获得89积分
	 	 cm**下单消费378元，获得378积分
	 	 hu**下单消费39元，获得39积分
	 	 cm**下单消费128元，获得128积分
	 	 cm**下单消费57元，获得57积分
	 	 vi**下单消费89元，获得89积分
	 	 hd**下单消费99元，获得99积分
	 	 vi**下单消费179元，获得179积分
	 	 44**下单消费323元，获得323积分
	 	 28**下单消费136元，获得136积分
	   </marquee>
  </div>



  <div class="lottery" id="choujiang">
      <div class="winner">
            <div class="winnerList">
              <h3>中奖名单：</h3>
               
              <div id="link_mingdan">
                    <div id="link_mingdan1">
						                        <div class="mingdan">15***获得5韩都积分</div>
						                        <div class="mingdan">15***获得5韩都积分</div>
						                        <div class="mingdan">13***获得5韩都积分</div>
						                        <div class="mingdan">tk***获得5韩都积分</div>
						                        <div class="mingdan">15***获得5韩都积分</div>
						                        <div class="mingdan">dr***获得5韩都积分</div>
						                        <div class="mingdan">ba***获得5韩都积分</div>
						                        <div class="mingdan">15***获得5韩都积分</div>
						                        <div class="mingdan">19***获得5韩都积分</div>
						                        <div class="mingdan">15***获得5韩都积分</div>
						                        <div class="mingdan">18***获得5韩都积分</div>
						                        <div class="mingdan">cl***获得5韩都积分</div>
						                        <div class="mingdan">dr***获得5韩都积分</div>
						                        <div class="mingdan">3A***获得5韩都积分</div>
						                        <div class="mingdan">ba***获得5韩都积分</div>
						                        <div class="mingdan">12***获得5韩都积分</div>
						                        <div class="mingdan">13***获得5韩都积分</div>
						                        <div class="mingdan">13***获得5韩都积分</div>
						                        <div class="mingdan">yl***获得5韩都积分</div>
						                        <div class="mingdan">19***获得5韩都积分</div>
						                        <div class="mingdan">tk***获得5韩都积分</div>
						                        <div class="mingdan">66***获得5韩都积分</div>
						                    </div>
                    <div id="link_mingdan2">
						                        <div class="mingdan">14***获得5韩都积分</div>
						                        <div class="mingdan">13***获得5韩都积分</div>
						                        <div class="mingdan">15***获得5韩都积分</div>
						                        <div class="mingdan">27***获得5韩都积分</div>
						                        <div class="mingdan">15***获得5韩都积分</div>
						                        <div class="mingdan">27***获得5韩都积分</div>
						                        <div class="mingdan">18***获得5韩都积分</div>
						                        <div class="mingdan">15***获得5韩都积分</div>
						                        <div class="mingdan">47***获得10韩都积分</div>
						                        <div class="mingdan">47***获得5韩都积分</div>
						                        <div class="mingdan">47***获得5韩都积分</div>
						                        <div class="mingdan">tk***获得5韩都积分</div>
						                        <div class="mingdan">13***获得5韩都积分</div>
						                        <div class="mingdan">15***获得5韩都积分</div>
						                        <div class="mingdan">12***获得5韩都积分</div>
						                        <div class="mingdan">17***获得5韩都积分</div>
						                        <div class="mingdan">19***获得5韩都积分</div>
						                        <div class="mingdan">15***获得5韩都积分</div>
						                        <div class="mingdan">18***获得5韩都积分</div>
						                        <div class="mingdan">18***获得5韩都积分</div>
						                        <div class="mingdan">15***获得5韩都积分</div>
						                        <div class="mingdan">13***获得5韩都积分</div>
						                    </div>
              </div>
               

            </div>
      </div>

      <div class="lottery_play">
            <p class="btn_arr abs"><input value="点击抽奖" id="btn" type="button" 
      class="play_btn chou" ><input value="7" id="lottery" type="hidden" /><input value="" id="lottery_result" type="hidden" /></p>
            <table class="playtab" id="tb" cellpadding="0" cellspacing="1">
                <tbody><tr>
                    <td class="playnormal">1</td><td class="playnormal">2</td><td class="playnormal">3</td><td class="playnormal">4</td><td>5</td>
                </tr>
                <tr>
                    <td class="playnormal">12</td><td></td><td></td><td class="playnormal"></td><td>6</td>
                </tr>
                <tr>
                    <td class="playnormal">11</td><td class="playnormal">10</td><td class="playnormal">9</td><td class="playnormal">8</td><td>7</td>
                </tr>
            </tbody></table>
        </div>

        <div class="lottery_rule"><p>抽奖规则：每个ID每天免费两次抽奖机会，再次抽奖将扣除10积分!</p></div>

    </div>

    <div class="club_set society">
      <h2><em>韩都社区</em><span>韩都会员互动乐园  分享你在韩都的点滴</span></h2>

      <div class="society_bd">
        <div class="magazine">
             <h3>杂志订阅</h3>
             <div class="info_row">
        <form id="form_dy" method="post" action="send_bonus.php?act=add_user_dingyue">
                <input  type="text" name="email" id="tbid" onkeydown="if (event.keycode==13) {}" onfocus="if(this.value=='输入邮箱订阅韩都时尚快讯')value='';" onblur="if(this.value=='')value='输入邮箱订阅韩都时尚快讯';" title="search" class="searchinput" value="输入邮箱订阅韩都时尚快讯">
                <input type="submit"  class="submit"  value="订阅" >
				<div id="subscription-prompt">订阅成功</div>
			<style type="text/css">
			#subscription-prompt{display:none;position: absolute;left:35px;width:152px;padding: 2px 0;text-align: center; color:#34772A;border:1px solid #D9D3BB;background:#FFFDEE;margin-top:29px}
			</style>
        </form>
            </div>
			
            <h3 class="r">关注韩都资讯</h3>
            <ul>
                           <li><a href="/news/details/24568.html" target="_blank" >韩国行--访问MAD PLACE</a></li>
                           <li><a href="/news/details/24567.html" target="_blank" >用“生命”舞动的青春——“绳彩飞扬...</a></li>
                           <li><a href="/news/details/24566.html" target="_blank" >欧乐堡——米妮哈鲁的梦幻之旅</a></li>
                        </ul>
        </div>
        <div class="showoff">
          
          <div id='club_slide' class="club_slide" unselectable="on" style="-moz-user-select:none;" onselectstart="return false;">
            <div class="pros">
              <ul>
                                  <li class="item">
                    <a href="goods-1042716.html" target="_blank">
                      <img src="PUBLIC_INDEX/Picture/1504861221189838975.jpg" alt="韩都衣舍2016秋装韩版百搭上衣打底衬衣立领韩范长袖衬衫女AA5041" title="韩都衣舍2016秋装韩版百搭上衣打底衬衣立领韩范长袖衬衫女AA5041">
                    </a>
                    <p class="tname">韩都衣舍2016秋装韩版百搭上衣打底衬衣立领韩范长袖衬衫女AA5041</p>
                  </li>
                                  <li class="item">
                    <a href="goods-1061777.html" target="_blank">
                      <img src="PUBLIC_INDEX/Picture/1508106011083934320.jpg" alt="韩都衣舍2017韩版女秋装新款纯色宽松网纱长袖T恤EQ9084婋0726" title="韩都衣舍2017韩版女秋装新款纯色宽松网纱长袖T恤EQ9084婋0726" style="height:202.84px;">
                    </a>
                    <p class="tname">韩都衣舍2017韩版女秋装新款纯色宽松网纱长袖T恤EQ9084婋0726</p>
                  </li>
                                  <li class="item">
                    <a href="goods-1063497.html" target="_blank">
                      <img src="PUBLIC_INDEX/Picture/1508192481753364069.jpg" alt="娜娜日记2017秋装新款女装宽松学生贴布刺绣牛仔棉衣女NT嫤0823" title="娜娜日记2017秋装新款女装宽松学生贴布刺绣牛仔棉衣女NT嫤0823" style="height:202.84px;">
                    </a>
                    <p class="tname">娜娜日记2017秋装新款女装宽松学生贴布刺绣牛仔棉衣女NT嫤0823</p>
                  </li>
                                  <li class="item">
                    <a href="goods-1063511.html" target="_blank">
                      <img src="PUBLIC_INDEX/Picture/1508207432010489077.jpg" alt="娜娜日记2017秋装新款女装粉色圆领套头字母毛针织衫NT6106嫤0822" title="娜娜日记2017秋装新款女装粉色圆领套头字母毛针织衫NT6106嫤0822" style="height:202.84px;">
                    </a>
                    <p class="tname">娜娜日记2017秋装新款女装粉色圆领套头字母毛针织衫NT6106嫤0822</p>
                  </li>
                              </ul>
            </div>
            <div class="prev_btn btn" onclick="transImg('club_slide','-1')"></div>
            <div class="down_btn btn" onclick="transImg('club_slide','+1')"></div>
          </div>
          <div class="hgy">
            <a href="http://www.handu.com/topic-640.html" id="show_btn" target="_blank" >马上参加</a>
          </div>
        </div>
      </div>
  </div>
  <p class="qq_set">韩都官网至尊VIP群:
    <a href="http://qm.qq.com/cgi-bin/qm/qr?k=nWQScGVH58oBkGxX1tKSXGffEtgA0eGq" target="_blank"><em>371551291</em></a>

  </p>
  <a href="http://www.handu.com/topic-1363.html" target="_blank"><img src="PUBLIC_INDEX/Picture/1504057308666403646.jpg" /></a>
</div>



{include file="public/footer" /}

<!-- 点击抽奖弹出框 -->
<script>

    $('.chou').click(function(){
        luckDraw();
    });
</script>



<div style="width:100%;height:auto;overflow:hidden;float:left">


        <script src="PUBLIC_INDEX/Scripts/cert.js"></script>
        <script type="text/javascript"   src="PUBLIC_INDEX/Scripts/417c14618e984972bffee664785453ec.js"></script>
   
     
  
 
   

</div>

<script type="text/javascript">


/*
 *  以后可以替换 login_ajax.lbi 中的isLogin
 * @param callback 若是已登录状态或点登录按钮后的回调函数
 * @param 点击登录按钮后的回调函数
 * 依赖： js/dialog/dialog.js" id="dialog_js" 
 * 此函数定义在footer中，所有页面引入dialog.js后均可直接使用，callback在各自页面中自行定义。
 **/
function _is_login (callback){
    if(typeof(callback)=='undefined'){
         callback=function(){};
    }
    var login_callbackname='login_callback_'+parseInt(Math.random()*1000000000000); 
    this[login_callbackname]=function(d){
        DialogManager.close('L_ajax_login');
        callback(d);
    }
  $.get("user.php?act=isLogin",{rid:Math.random()},function(data){
    if(parseInt(data.user_id) > 0 && data.username){
             callback(data);
    }else{
      //显示登录框
            var url='/user.php?act=act_login_ajax&login_callback='+login_callbackname;
            ajax_form(url,'L_ajax_login', 450 ,'登录');
    }
  },'JSON');
}
 
</script>

<script type="text/javascript">

$(function() {
  //加载页头用户登陆状态
    $('#HD_MEMBERZONE').load('/online.php?act=get_user_status&ts=' + (new Date().getTime()));

    
    //添加收藏夹
    $('#nav_addFavorite a').click(function(){
        var sURL='http://www.handu.com';
        var sTitle='韩都衣舍HSTYLE';
        try {
            window.external.addFavorite(sURL, sTitle);
        }
        catch (e) {
            try {
                window.sidebar.addPanel(sTitle, sURL, "");
            }
            catch (e) {
                alert("您可以尝试通过快捷键 Ctrl + D 加入到收藏夹~");
            }
        }
    
    });
   
});


</script> 


<div class="float_box" >
  <!--无线二维码<div class="float_app"></div>-->
  <a href="http://www.handu.com/flow.php?step=cart" target="_blank" class="a1" onclick="_czc.push(['_trackEvent', '悬浮', '购物车']);"></a>
  <a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODE4ODAzNF80MzI3MjBfNDAwODA2Nzc3N18yXw" target="_blank" class="a2" onclick="_czc.push(['_trackEvent', '悬浮', '在线客服']);"></a>
  <a class="a3" onclick="_czc.push(['_trackEvent', '悬浮', '在线反馈']);"></a>
  <a href="javascript:void(0);" class="a4 backTop"  onclick="_czc.push(['_trackEvent', '悬浮', '返回顶部']);"></a>
  
</div>
<script language="javascript" type="text/javascript">
$(window).scroll(function(){
      var t = document.documentElement.scrollTop||document.body.scrollTop;

      if(t>450){
    $(".float_box").fadeIn();
      }
      else{
     $(".float_box").hide();
      }
})

$('.float_box .backTop').click(function(){
    $("html, body").animate({'scrollTop':0},320);
})
</script>


<script language="javascript" type="text/javascript">
  NTKF_PARAM = {
  siteid:"kf_9817",
  settingid: "kf_9817_1377747298633",
    itemid: "",
      uid:"",
    uname:"",

userlevel:0,
  orderid: "",
  orderprice: "",
itemparam: "size=41|color=red|brand=tata",
      erpparam: "sid=eadfddeeel|utm=adfe|source=baidu" 

} 
</script><script type="text/javascript" src="PUBLIC_INDEX/Scripts/ntkfstat.js" charset="utf-8"></script>
 
  
 
   
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45831645-1', 'handu.com');
  ga('require', 'displayfeatures');
    ga('send', 'pageview');
</script>
 



<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?925dc35723dff5cd810f7fee2e41a269";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

 




<style>
.btm_box_b{position:fixed;width:100%;z-index: 999; height:193px;bottom:-200px;left:0px;text-align: center; font-family:"微软雅黑"; background:url(PUBLIC_INDEX/Images/dt.png) no-repeat center 0;transition:0.8s;}
.guanb_btn{
  position:absolute;
  left:856px;
  top:27px;
  z-index:1000;
  width:16px;
  height:16px;
}
.btm_box_bb{bottom:0;}
</style>


<script>

	$(function(){
		$("#btm_0828").addClass("btm_box_bb");
		$(".guanb_btn").click(function(){
			$("#btm_0828").css("display","none")
			})
			$(".dengl_btn").click(function(){
			$("#btm_0828").css("display","none")
			})
		})

</script>


<style type="text/css">
.gwd_toolbar_container{display:none; visibility:hidden;}
.gwd_float_curve_trigger{display:none; visibility:hidden;}
.gwd_float_curve{display:none; visibility:hidden;}
.gwd_toolbar_control_small{display:none;}
.gwd_toolbar_container gwd_toolbar_containerX gwd_toolbar_big gwd_ns_x11 gwd_toolbar_no_transition{visibility:hidden !important; display:none !important; margin-left: -1000000px !important;}
.gwd_toolbar_goods_list gwd_ns_baokuan{display:none !important; visibility:hidden !important; margin-left: -1000000px !important;}
.gwd_toolbar_goods_list .gwd_toolbar_goods_item_pic {display:none !important;}
.gwd_toolbar_info{display:none !important; visibility:hidden !important; margin-left: -1000000px !important;}
</style>
<script src="PUBLIC_INDEX/Scripts/tag.js" type="text/javascript" async></script>



<div class="pop_mask" style="display:none"></div>
<!-- 积分弹出框 -->
<div class="pop_box" id="pop_box" style="display:none">
    <a href="#" class="c_close" onclick="c_close()"></a>
    <div class="pop_box_content" >
         <a href="#" class="c_close" onclick="c_close()"></a>
         <div class="pop_desc">
           <h2></h2>
           <p id="pop_box_one">你的韩都积分总计200积分，以后购物消费可以省下2元啦，</p>          
           <p id="pop_box_two">明天再来，可获得<span></span>积分!</p>    
           <a class="cost" href="./" target="_blank">立即花积分</a> 
         </div>    
         <div class="link"><span>韩都积分购物抵现，扫货省钱两不误</span><a href="http://www.handu.com/user.php?act=exchange" target="_blank">查看详情</a></div>
         <div class="code">
          <img src="PUBLIC_INDEX/Picture/client_code.jpg" />
          <p>扫二维码，快速下载客户端</p>
        </div>
    </div>
</div>
<div class="c_alert fixed"   style="display:none" id="lottery_show">
    <div class="c_content">
        <a href="javascript:void(0)" class="c_close" onclick="c_close()"></a>
        <h3></h3>
        <a href="javascript:void(0)" class="cost">确定</a>
    </div>
</div>

<div class="c_alert fixed"  style="display:none" id="integral">
    <div class="c_content">
        <a href="javascript:void(0)" class="c_close" onclick="c_close()"></a>
        <h3>您的积分不够，每次抽奖须消耗10积分</h3>
        <a href="javascript:void(0)" class="cost" onclick="c_close()">确定</a>
    </div>
</div>

<div class="c_alert fixed"  style="display:none" id="confirm">
    <div class="c_content">
        <a href="javascript:void(0)" class="c_close" onclick="c_close()"></a>
        <h3>抽奖提示：每次抽奖消耗10个积分</h3>
        <a href="javascript:void(0)" class="cost" onclick="getLottery()" id="confirm_cost" >继续抽奖</a>
		<a href="javascript:void(0)" class="cost" onclick="c_close()" >取消抽奖</a>
		<p>查看<a href="user.php?act=exchange" target="_blank">我的积分</a></p>
    </div>
</div>

<div class="c_alert fixed"  style="display:none" id="award">
    <div class="c_content">
        <a href="javascript:void(0)" class="c_close" onclick="c_close()"></a>
        <h3></h3>
        <a href="javascript:void(0)" class="cost" onclick="c_close()">确定</a>
    </div>
</div>


<div class='c_alert fixed' style="display: none" id="exchange_bonus_1">
    <a href='javascript:void(0)' class='c_close'></a>
    <h3 class='succ'>&nbsp;&nbsp;&nbsp;恭喜您，领券成功！</h3>
    <p>该券截止日期：<span class="bonus_time"></span>，点击查看<a href='http://www.handu.com/helper-22-707.html' target="_blank" >优惠券使用规则。</a></p>
    <a href='javascript:void(0)' class='coupon_use' ></a>
</div>
<div class='c_alert fixed' style="display: none" id="exchange_bonus_3">
    <a href='javascript:void(0)' class='c_close'></a>
    <h3 class='succ'>&nbsp;&nbsp;&nbsp;您已经兑换过该券！</h3>
    <p>点击查看<a href='http://www.handu.com/helper-22-707.html' target="_blank" >优惠券使用规则。</a></p>
    <a href='javascript:void(0)' class='coupon_use' ></a>
</div>
<div class='c_alert fixed' style="display: none" id="exchange_bonus_5">
    <a href='javascript:void(0)' class='c_close'></a>
    <h3>抱歉，您的会员等级不能领取该优惠券！</h3>
    <p>点击查看<a href='http://www.handu.com/helper-61-723.html' target="_blank" >等级提升方式。</a></p>
    <a href='javascript:void(0)' class='coupon_use' ></a>
</div>
<div class='c_alert fixed' style="display: none" id="exchange_bonus_6">
    <a href='javascript:void(0)' class='c_close'></a>
    <h3>抱歉，您的积分余额不足！</h3>
    <p>点击查看<a href='http://www.handu.com/helper-61-724.html' target="_blank" >积分获取方式。</a></p>
    <a href='javascript:void(0)' class='coupon_use' ></a>
</div>



<div class='c_alert fixed' style="display: none" id="exchange_postage_1">
    <a href='javascript:void(0)' class='c_close'></a>
    <h3 class='succ'>&nbsp;&nbsp;&nbsp;恭喜您，领取成功！</h3>
    <p>该包邮卡使用期：<span class="postage_time"></span>个月，点击查看<a href='http://www.handu.com/helper-22-707.html' target="_blank" >优惠券使用规则。</a></p>
    <a href='javascript:void(0)' class='coupon_use' ></a>
</div>
<div class='c_alert fixed' style="display: none" id="exchange_postage_3">
    <a href='javascript:void(0)' class='c_close'></a>
    <h3>抱歉，您的积分余额不足！</h3>
    <p>点击查看<a href='http://www.handu.com/helper-61-724.html' target="_blank" >积分获取方式。</a></p>
    <a href='javascript:void(0)' class='coupon_use' ></a>
</div>
<div class='c_alert fixed' style="display: none" id="exchange_postage_5">
    <a href='javascript:void(0)' class='c_close'></a>
    <h3>抱歉，您的会员等级不能领取该包邮卡！</h3>
    <p>点击查看<a href='http://www.handu.com/helper-61-723.html' target="_blank" >等级提升方式。</a></p>
    <a href='javascript:void(0)' class='coupon_use' ></a>
</div>

</body>

<script type="text/javascript" src="PUBLIC_INDEX/Scripts/lottery.js"></script>

<script>
/*韩都社区*/
function transImg(obj,index){
   var len = $("#"+obj+" .item").length;
   var lw = $("#"+obj+" .pros").width();
   var lw_li = $("#"+obj+" .pros>ul>li").width();
   var count = Math.round(Number(lw)/Number(lw_li));
   $("#"+obj+" .pros>ul").stop().animate({"margin-left":-lw+"px"},250,function(){
   for(var i=0;i<count;i++){
      var $li = $("#"+obj+" .pros>ul>li").eq(0);
      $("#"+obj+" .pros>ul").append($li);
   }
   $("#"+obj+" .pros>ul").css({"margin-left":"0px"});
  });
}
</script>
<script type="text/javascript">
	var setimeid = null;
	$("#form_dy :input[name='email']").live("blur",function(){
	setimeid = setTimeout(function(){
		var email = $("#form_dy :input[name='email']").val();
		$.post('send_bonus.php?act=add_user_dingyue',{email:email},function(data){
				$('#subscription-prompt').html(data.msg).show().delay(5000).fadeOut(400)();	
				},'json');
		},"3000");
	});
	if(setimeid){
		clearTimeout(setimeid);
		setimeid = null;
	}
	$('#form_dy').submit(function(){
		var email=$(this).find('input[name=email]').val();
		$.post($(this).attr('action'),{'email':email},function(data){
			$('#subscription-prompt').html(data.msg).show().delay(5000).fadeOut(400)();
		},'json')
		return false;
	});
     $('.club_nav').on('click','li',function(){
          var index = $(this).index();
          $(this).addClass('current').siblings().removeClass('current');
          $('.club_content>li').eq(index).show().siblings().hide();
    })


      $('#pinpai').on('click','li',function(){
          var index = $(this).index();
          $(this).addClass('current').siblings().removeClass('current');
          $('#pinpai_bd>li').eq(index).show().siblings().hide();
    })

// var firm = false;
// var lottery_num = 0;
//  $('.play_btn').click(function(){
//   $.post("user_center.php?act=ajax_get_lottery_status",{},function(data){
// 	if(data.name!='')
// 	{
// 		var _alert_confirm = $("#confirm").find("h3").html(data.name);
// 	}
//     if(data.error == 1){
//       _is_login(function(d){
// 		if(d.user_id>0){
// 		location.reload();
// 		DialogManager.close('L_ajax_login');
// 		return ;
// 		}
// 	  });
//     }else if(data.error == 2){
//       $('#integral').show();
//     }else if(data.error == 3){
// 		$('#confirm').show();
// 		lottery_num = data.lottery_num+1;
// 		firm = false;
//     }else{
//       if(firm === false){
//         $('#confirm').show();
//       }else{
//         getLottery();
//       } 
//     }
//   },'JSON');
  
//  });
 
//  $("#confirm_cost").click(function(){
// 	$.post("user_center.php?act=ajax_get_lottery_status",{},function(data){
// 		if(data.error==0){
// 			$("#confirm").find("h3").html("抽奖提示：每次抽奖消耗10个积分");
// 			firm = true;
// 		}
// 	},"JSON");
//  })
//  function getLottery(){
// 	c_close();
// 	lottery_num--;
// 	if(lottery_num==0){
// 		$("#confirm").find("h3").html("抽奖提示：每次抽奖消耗10个积分");
// 		$("#confirm").show();
// 		return;
// 	}
// 	$.post("user_center.php?act=ajax_get_lottery",{},function(data){
//     $('#lottery').val(data.no);
// 	$('#lottery_result').val(data.result);
// 	//给弹出层赋值
// 	var _show_html ='';
// 	if(data.lottery_type==4){
// 		_show_html = '<font color="red"><strong>很遗憾，没能中奖<strong></font><br/><p>黄历说，今日必有财运</p>';
// 	}else{
// 		_show_html = '<font color="red"><strong>恭喜您，抽中'+data.lottery_name+'<strong></font><br/><p>黄历说，今日必有财运</p>';
// 	}
// 	 $("#confirm").find("h3").html(_show_html)
//     $('#award').find('h3').html(data.name);
//     StartGame(data.no); 
//   },"JSON")
//  }
//  function c_close(){
 
//   $(".fixed").hide();
//   $('.pop_mask').hide();
//   $('.pop_box').hide();
//  }

</script>
<script>
  var speed=50
  link_mingdan2.innerHTML=link_mingdan1.innerHTML
  function Marquee2(){
    if(link_mingdan2.offsetTop-link_mingdan.scrollTop<=0)
       link_mingdan.scrollTop-=link_mingdan1.offsetHeight
    else{
      link_mingdan.scrollTop++
    }
  }
  var MyMar2=setInterval(Marquee2,speed)
  link_mingdan.onmouseover=function() {clearInterval(MyMar2)}
  link_mingdan.onmouseout=function() {MyMar2=setInterval(Marquee2,speed)}
</script>

<script> 
function goods_login_suc(data){ 
    DialogManager.close('L_login');
    return ;
}

//签到
function sign(){
  
  $.post("user_center.php?act=sign",{},function(data){
    
    if(data.error == 0){
      _is_login(function(d){
		if(d.user_id>0){
		location.reload();
		DialogManager.close('L_ajax_login');
		return ;
		}
	  });
    }else{
      $('.pop_mask').show();
      $('.pop_box').show();
      $('.pop_box').find('h2').html(data.message);
      $('.pop_box').find('#pop_box_one').html(data.msg);
      $('.pop_box').find('#pop_box_two').find('span').html(data.next_integral);
    }
  },'JSON');
}
</script>


<script type="text/javascript">

$(function(){

   $('.c_close').click(function(){
         $('.c_alert').hide();
    });
    
	$('.shopping_login_close').click(function(){
         $('#shopping_login').hide();
    });
})

function exchangeToBonus(num){
   
	$.post("user_center.php?act=ajax_exchange_to_bonus", {id: parseInt(num)},function(result){
	   if(result.state == 1){
		   $('.bonus_time').html(result.endDate);
		   $('#exchange_bonus_1').show();
	   }
	   else if(result.state == 2){
			ajax_login();
	   }
	   else if(result.state == 3){
		   $('#exchange_bonus_3').show();
	   }
	   else if(result.state == 4){
		   alert('没有找到该券')
	   }
	   else if(result.state == 5){
			$('#exchange_bonus_5').show();
	   }
	   else if(result.state == 6){
			$('#exchange_bonus_6').show();
	   }
   },'JSON');
}

function exchangeToPostage(num){
   
	$.post("user_center.php?act=ajax_exchange_to_postage", {id: parseInt(num)},function(result){
	   if(result.state == 1){
		   $('.postage_time').html(result.endDate);
		   $('#exchange_postage_1').show();
	   }
	   else if(result.state == 2){
			ajax_login();
	   }
	   else if(result.state == 3){
		   $('#exchange_postage_3').show();
	   }
	   else if(result.state == 4){
		   alert('没有找到该包邮卡')
	   }
	   else if(result.state == 5){
			$('#exchange_postage_5').show();
	   }
   },'JSON');
}


function ajax_login(){
    var url='/user.php?act=act_login_ajax&login_callback=login_callback';
    ajax_form(url,'L_login', 450 ,'登录');
}
function login_callback(d){
    location = location;
}
</script>

</html>